@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

:root {
  --box-color: #c427fb;
}

#show {
  display: block;
}

body {
  /* padding: 20px 0; */
  background: rgb(59, 38, 123);
  background: linear-gradient(90deg, rgba(59, 38, 123, 1) 70%, rgba(46, 35, 90, 1) 100%, rgba(28, 27, 51, 1) 100%);
}

body>div {
  color: white;
  background-color: #1c1b33;
  max-width: 700px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--box-color);
}

.qestion {
  display: none;
  position: relative;
}

.counter {
  padding: 15px;
  display: flex;
  flex-direction: row;
  background-color: #1c1b33;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 18px;
  position: relative;
}

.counter .num-qestion {
  position: absolute;
  right: 15px;
}

.qestion h1 {
  background-color: #32314d;
  font-size: 24px;
  font-weight: 500;
  padding: 15px;
  width: 100%;
  line-height: 35px;
}

.qestion .area-answer form {
  padding: 15px;
  background-color: #1c1b33;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

}

.area-answer form .answer {
  padding: 15px;
}

form label {
  padding-left: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

form input {
  cursor: pointer;
}

form input:checked+label {
  color: #338aee;
  font-weight: 500;
}

.qestion button {
  position: absolute;
  right: 0;
  background-color: #0075ff;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 15px;
  cursor: pointer;
}

.end {
  text-align: center;
  padding: 100px 0;
  box-shadow: 0 0 5px var(--box-color);
}

.end h2 {
  font-size: 25px;
  color: white;
  padding-bottom: 15px;
}

.end p {
  font-size: 22px;
  font-weight: 500;

}

.end p i {
  font-size: 20px;
  color: #0075ff;
}

.end h3 {
  font-size: 25px;
  font-weight: 500;
  color: red;
}

@media (max-width:700px) {
  .qestion h1 {
    font-size: 20px;
    line-height: 35px;
  }

  .qestion button {
    margin-right: 5px;
  }
}

@media (max-width:500px) {
  .qestion h1 {
    font-size: 16px;
    line-height: 25px;
  }

  form label {
    font-size: 14px;
  }
}

/* Start div section */
.start-div {
  display: none;
  text-align: center;
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

.start-div h2 {
  font-weight: 400;

}

.start-div button {
  background-color: #0075ff;
  color: white;
  padding: 12px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 15px;
  cursor: pointer;
}